body {
    background: rgb(222,221,131);
    background: linear-gradient(90deg, rgba(222,221,131,1) 26%, rgba(136,154,224,1) 70%);;
}

/* Header */

.nav {
    display: flex;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}

.nav_menu {
    display: flex;
    margin: auto;
    list-style-type: none; /* Le quita los puntos a la lista desordenada */
    gap: 21px; /* Espacio entre los elementos */
}

.menu {
    border: 2px solid black;
    border-radius: 7px;
    padding: 8px;
    font-size: 15px;
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: black; /* Color del texto */;
    transition: font-size 0.5s ease; /* Suaviza la transición */
}

.menu:hover {
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;
}

#logo {
    margin: auto;
    width: 75px;    
    border: 2px solid black;
    border-radius: 30%;
}

/* Main */

main {
    width: 70%;
    margin: 30px auto;
}

section {
    padding-bottom: 40px;
}

h1 {
    font-size: 35px;
    text-align: center;
}

.volley {
    border: 1px solid white;
    border-radius: 7px;
}

.tradicional {
    display: flex;
    width: 350px;
    float: right;
    margin: 0 0px 10px 10px;
}

.playa {
    display: flex;
    width: 350px;
    float: left;
    margin: 0 10px 0 10px;
}

h2 {
    font-size: 35px;
    text-align: center;
}

/* Footer */

footer {
    width: 80%;
    text-align: center;
    margin: auto;
    border-top: 2px solid black;
}




