body {
    background: rgb(222,221,131);
    background: linear-gradient(90deg, rgba(222,221,131,1) 26%, rgba(136,154,224,1) 70%);;
}

/* Header */

.nav {
    display: flex;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}

.nav_menu {
    display: flex;
    margin: auto;
    list-style-type: none; /* Le quita los puntos a la lista desordenada */
    gap: 21px; /* Espacio entre los elementos */
}

a {
    font-size: 17px;
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: black; /* Color del texto */;
    transition: font-size 0.5s ease; /* Suaviza la transición */
}

.li-1:hover {
    color: white; /* Color del texto al pasar el ratón por encima */
    background-color: red;
    border-radius: 5px;
    padding: 2px;
    font-size: 21px;
}

.li-2:hover {
    color: white; /* Color del texto al pasar el ratón por encima */
    background-color: green;
    border-radius: 5px;
    padding: 2px;
    font-size: 21px;
}

#logo {
    margin: auto;
    width: 75px;    
    border: 2px solid black;
    border-radius: 30%;
}

/* Main */

main {
    width: 70%;
    margin: 30px auto;
}

.volley-descripcion {
    padding-bottom: 40px;
}

h1 {
    font-size: 35px;
    text-align: center;
}

.volley {
    display: flex;
    width: 350px;
    float: right;
    margin: 0 0 10px 10px;
}

h2 {
    font-size: 35px;
    text-align: center;
}


